**/.git
**/.gitignore
**/.vscode
**/bin
**/obj
**/out
**/dist
ApiLaptopMundo.AppHost/
ApiLaptopMundo.ServiceDefaults/
*.user
*.suo
*.sln.docuser
Dockerfile
README.md
MULTI_TENANCY_GUIDE.md
TENANT_GENERATION_GUIDE.md
database/
*.sql
aspire-install.sh
